# InsForge BaaS Configuration
INSFORGE_URL=https://wxkeqf37.ap-southeast.insforge.app
INSFORGE_API_KEY=tu_api_key_insforge_aqui
INSFORGE_PROJECT_ID=c18a2d35-e199-490d-9827-939d4d757c53
PORT=3002
DB_SCHEMA=sctis
